<IfModule mod_rewrite.c>
    DirectoryIndex /main.php

    ErrorDocument 401 /401.php
    ErrorDocument 404 /404.php
    ErrorDocument 500 /500.php

    RewriteEngine On

    RewriteRule ^401/?$ /401.php [NC,L]
    RewriteRule ^401/([a-zA-Z0-9-=]+)/?$ /401.php?u=$1 [NC,L]

    RewriteRule ^404/?$ /404.php [NC,L]
    RewriteRule ^404/([a-zA-Z0-9-=]+)/?$ /404.php?u=$1 [NC,L]

    RewriteRule ^500/?$ /500.php [NC,L]
    RewriteRule ^500/([a-zA-Z0-9-=]+)/?$ /500.php?u=$1 [NC,L]

    RewriteRule ^cursos/graduacao/([a-z0-9-]+).html$ /cursosGraduacao.php?c=$1 [NC,L]
    RewriteRule ^cursos/pos-graduacao/([a-z0-9-]+).html$ /cursosPos.php?c=$1 [NC,L]

    RewriteRule ^frame/([a-zA-Z0-9-=]+)/?$ /frame.php?c=$1 [NC,L]

    RewriteRule ^fotos/?$ /fotos.php [NC,L]
    RewriteRule ^fotos/([a-zA-Z0-9-]+).html$ /fotos.php?d=$1 [NC,L]

    RewriteRule ^instituicao/?$ /instituicao.php [NC,L]

    RewriteRule ^login/?$ /login.php [NC,L]
    RewriteRule ^login/funcionario/recuperar-senha.html?$ /recuperarsenha.php [NC,L]
    RewriteRule ^login/professor/recuperar-senha.html?$ /recuperarsenha.php [NC,L]
    RewriteRule ^login/aluno/recuperar-senha.html?$ /recuperarsenha-aluno.php [NC,L]
    RewriteRule ^login/aluno/solicitacao.html?$ /solicitacaoAluno.php [NC,L]
    RewriteRule ^logout/?$ /logout.php [NC,L]

    RewriteRule ^mural/([a-z0-9-]+).html$ /mural.php?c=$1 [NC,L]

    RewriteRule ^noticias/?$ /noticias.php?p=01 [NC,L]
    RewriteRule ^noticias/([0-9]{2})/?$ /noticias.php?p=$1 [NC,L]
    RewriteRule ^noticias/([0-9]{4})/([0-9]{2})/([0-9]{2})/([a-z0-9-]+).html$ /noticia.php?ano=$1&mes=$2&dia=$3&urlTitulo=$4 [NC,L]

    RewriteRule ^revista/?$ /revista.php [NC,L]
    RewriteRule ^revista/([a-zA-Z0-9-]+).html$ /revista.php?d=$1 [NC,L]

    RewriteRule ^v/?$ /vestibular.php [NC,L]

    RewriteRule ^aluno/?$ /__main.php [NC,L]
    RewriteRule ^aluno/perfil/cadastro.html$ /__perfil-form.php [NC,L]
    RewriteRule ^aluno/perfil/senha.html$ /__senha-form.php [NC,L]

    RewriteRule ^funcionario/?$ /_main.php [NC,L]
    RewriteRule ^funcionario/instituicao.html$ /_instituicao-form.php [NC,L]
    RewriteRule ^funcionario/agendas/?$ /_agendas.php [NC,L]
    RewriteRule ^funcionario/agendas/([a-z0-9-]+)/cadastro.html$ /_agenda-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/agendas/a/([a-z0-9-]+)/?$ /_agendamentosAula.php?c=$1 [NC,L]
    RewriteRule ^funcionario/agendas/a/([a-z0-9-]+)/agendamento.html$ /_agendamentoAula-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/agendas/l/([a-z0-9-]+)/?$ /_agendamentosLivre.php?c=$1 [NC,L]
    RewriteRule ^funcionario/agendas/l/([a-z0-9-]+)/agendamento.html$ /_agendamentoLivre-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/albuns/?$ /_albuns.php [NC,L]
    RewriteRule ^funcionario/albuns/([a-z0-9-]+)/cadastro.html$ /_album-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/albuns/([a-z0-9-]+)/fotos.html$ /_albumFotos-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/cargos/?$ /_cargos.php [NC,L]
    RewriteRule ^funcionario/cargos/([a-z0-9]+)/cadastro.html$ /_cargo-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/cursos/?$ /_cursos.php [NC,L]
    RewriteRule ^funcionario/cursos/graduacao/?$ /_cursosGraduacao.php [NC,L]
    RewriteRule ^funcionario/cursos/graduacao/([a-z0-9]+)/cadastro.html$ /_cursoGraduacao-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/cursos/pos-graduacao/?$ /_cursosPos.php [NC,L]
    RewriteRule ^funcionario/cursos/pos-graduacao/([a-z0-9]+)/cadastro.html$ /_cursoPos-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/departamentos/?$ /_departamentos.php [NC,L]
    RewriteRule ^funcionario/departamentos/([a-z0-9]+)/cadastro.html$ /_departamento-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/destaques/?$ /_destaques.php [NC,L]
    RewriteRule ^funcionario/destaques/([a-zA-Z0-9]+)/cadastro.html$ /_destaque-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/destaques/desativados.html$ /_destaquesDesativados.php [NC,L]
    RewriteRule ^funcionario/destaques/pendentes.html$ /_destaquesPendentes.php [NC,L]
    RewriteRule ^funcionario/disciplinas/?$ /_disciplinas.php [NC,L]
    RewriteRule ^funcionario/disciplinas/graduacao/?$ /_disciplinasGraduacao.php [NC,L]
    RewriteRule ^funcionario/disciplinas/graduacao/([a-z0-9]+)/cadastro.html$ /_disciplinaGraduacao-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/disciplinas/pos-graduacao/?$ /_disciplinasPos.php [NC,L]
    RewriteRule ^funcionario/disciplinas/pos-graduacao/([a-z0-9]+)/cadastro.html$ /_disciplinaPos-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/funcionarios/?$ /_funcionarios.php [NC,L]
    RewriteRule ^funcionario/funcionarios/novo/cadastro.html$ /_funcionario-form.php [NC,L]
    RewriteRule ^funcionario/funcionarios/sem-perfil.html$ /_semPerfil.php [NC,L]
    RewriteRule ^funcionario/funcionarios/cargos/$ /_cargos_funcionarios.php [NC,L]
    RewriteRule ^funcionario/funcionarios/cargos/([a-z0-9-.]+)/cargos.html$ /_cargos_funcionario.php?c=$1 [NC,L]
    RewriteRule ^funcionario/funcionarios/cargos/([a-z0-9-.]+)/cadastro.html$ /_cargos_funcionario-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/mural/?$ /_murais.php [NC,L]
    RewriteRule ^funcionario/mural/([a-z0-9]+)/?$ /_muralDepartamentos.php?c=$1 [NC,L]
    RewriteRule ^funcionario/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-nota.html$ /_muralDepartamentoNota-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^funcionario/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-link.html$ /_muralDepartamentoLink-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^funcionario/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-download.html$ /_muralDepartamentoDownload-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^funcionario/noticias/?$ /_noticias.php [NC,L]
    RewriteRule ^funcionario/noticias/([a-zA-Z0-9]+)/cadastro.html$ /_noticia-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/noticias/([a-zA-Z0-9]+)/album.html$ /_noticiaAlbum-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/noticias/([a-zA-Z0-9]+)/visualizar.html$ /_noticiaVisualizar.php?c=$1 [NC,L]
    RewriteRule ^funcionario/noticias/desativadas.html$ /_noticiasDesativadas.php [NC,L]
    RewriteRule ^funcionario/noticias/pendentes.html$ /_noticiasPendentes.php [NC,L]
    RewriteRule ^funcionario/parceiros/?$ /_parceiros.php [NC,L]
    RewriteRule ^funcionario/parceiros/([a-z0-9-%]+)/cadastro.html$ /_parceiro-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/perfil/cadastro.html$ /_perfil-form.php [NC,L]
    RewriteRule ^funcionario/perfil/senha.html$ /_senha-form.php [NC,L]
    RewriteRule ^funcionario/permissoes/administrativo/?$ /_permissoesAdministrativo.php [NC,L]
    RewriteRule ^funcionario/permissoes/administrativo/([a-z0-9]+)/cadastro.html$ /_permissaoAdministrativo-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/permissoes/academico/cadastro.html$ /_permissaoAcademico-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/revista/?$ /_revista.php [NC,L]
    RewriteRule ^funcionario/revista/cadastro.html$ /_revista-form.php [NC,L]
    RewriteRule ^funcionario/revista/edicoes/?$ /_revistaEdicoes.php [NC,L]
    RewriteRule ^funcionario/revista/edicoes/([a-z0-9-]+)/cadastro.html$ /_revistaEdicao-form.php?c=$1 [NC,L]
    RewriteRule ^funcionario/revista/edicoes/([a-z0-9-]+)/?$ /_revistaArtigos.php?c=$1 [NC,L]
    RewriteRule ^funcionario/revista/edicoes/([a-z0-9-]+)/([a-z0-9-]+)/cadastro.html$ /_revistaArtigo-form.php?c=$1&d=$2 [NC,L]
    RewriteRule ^funcionario/revista/edicoes/([a-z0-9-]+)/([a-z0-9-]+)/paginas.html$ /_revistaArtigoPaginas-form.php?c=$1&d=$2 [NC,L]

    RewriteRule ^professor/?$ /_main.php [NC,L]
    RewriteRule ^professor/instituicao.html$ /_instituicao-form.php [NC,L]
    RewriteRule ^professor/agendas/?$ /_agendas.php [NC,L]
    RewriteRule ^professor/agendas/([a-z0-9-]+)/cadastro.html$ /_agenda-form.php?c=$1 [NC,L]
    RewriteRule ^professor/agendas/a/([a-z0-9-]+)/?$ /_agendamentosAula.php?c=$1 [NC,L]
    RewriteRule ^professor/agendas/a/([a-z0-9-]+)/agendamento.html$ /_agendamentoAula-form.php?c=$1 [NC,L]
    RewriteRule ^professor/agendas/l/([a-z0-9-]+)/?$ /_agendamentosLivre.php?c=$1 [NC,L]
    RewriteRule ^professor/agendas/l/([a-z0-9-]+)/agendamento.html$ /_agendamentoLivre-form.php?c=$1 [NC,L]
    RewriteRule ^professor/albuns/?$ /_albuns.php [NC,L]
    RewriteRule ^professor/albuns/([a-z0-9-]+)/cadastro.html$ /_album-form.php?c=$1 [NC,L]
    RewriteRule ^professor/albuns/([a-z0-9-]+)/fotos.html$ /_albumFotos-form.php?c=$1 [NC,L]
    RewriteRule ^professor/cargos/?$ /_cargos.php [NC,L]
    RewriteRule ^professor/cargos/([a-z0-9]+)/cadastro.html$ /_cargo-form.php?c=$1 [NC,L]
    RewriteRule ^professor/cursos/?$ /_cursos.php [NC,L]
    RewriteRule ^professor/cursos/graduacao/?$ /_cursosGraduacao.php [NC,L]
    RewriteRule ^professor/cursos/graduacao/([a-z0-9]+)/cadastro.html$ /_cursoGraduacao-form.php?c=$1 [NC,L]
    RewriteRule ^professor/cursos/pos-graduacao/?$ /_cursosPos.php [NC,L]
    RewriteRule ^professor/cursos/pos-graduacao/([a-z0-9]+)/cadastro.html$ /_cursoPos-form.php?c=$1 [NC,L]
    RewriteRule ^professor/departamentos/?$ /_departamentos.php [NC,L]
    RewriteRule ^professor/departamentos/([a-z0-9]+)/cadastro.html$ /_departamento-form.php?c=$1 [NC,L]
    RewriteRule ^professor/destaques/?$ /_destaques.php [NC,L]
    RewriteRule ^professor/destaques/([a-zA-Z0-9]+)/cadastro.html$ /_destaque-form.php?c=$1 [NC,L]
    RewriteRule ^professor/destaques/desativados.html$ /_destaquesDesativados.php [NC,L]
    RewriteRule ^professor/destaques/pendentes.html$ /_destaquesPendentes.php [NC,L]
    RewriteRule ^professor/disciplinas/?$ /_disciplinas.php [NC,L]
    RewriteRule ^professor/disciplinas/graduacao/?$ /_disciplinasGraduacao.php [NC,L]
    RewriteRule ^professor/disciplinas/graduacao/([a-z0-9]+)/cadastro.html$ /_disciplinaGraduacao-form.php?c=$1 [NC,L]
    RewriteRule ^professor/disciplinas/pos-graduacao/?$ /_disciplinasPos.php [NC,L]
    RewriteRule ^professor/disciplinas/pos-graduacao/([a-z0-9]+)/cadastro.html$ /_disciplinaPos-form.php?c=$1 [NC,L]
    RewriteRule ^professor/funcionarios/?$ /_funcionarios.php [NC,L]
    RewriteRule ^professor/funcionarios/novo/cadastro.html$ /_funcionario-form.php [NC,L]
    RewriteRule ^professor/funcionarios/sem-perfil.html$ /_semPerfil.php [NC,L]
    RewriteRule ^professor/funcionarios/cargos/$ /_cargos_funcionarios.php [NC,L]
    RewriteRule ^professor/funcionarios/cargos/([a-z0-9-.]+)/cargos.html$ /_cargos_funcionario.php?c=$1 [NC,L]
    RewriteRule ^professor/funcionarios/cargos/([a-z0-9-.]+)/cadastro.html$ /_cargos_funcionario-form.php?c=$1 [NC,L]
    RewriteRule ^professor/mural/?$ /_murais.php [NC,L]
    RewriteRule ^professor/mural/([a-z0-9]+)/?$ /_muralDepartamentos.php?c=$1 [NC,L]
    RewriteRule ^professor/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-nota.html$ /_muralDepartamentoNota-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^professor/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-link.html$ /_muralDepartamentoLink-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^professor/mural/([a-z0-9]+)/([a-z0-9]+)/cadastro-download.html$ /_muralDepartamentoDownload-form.php?d=$1&c=$2 [NC,L]
    RewriteRule ^professor/noticias/?$ /_noticias.php [NC,L]
    RewriteRule ^professor/noticias/([a-zA-Z0-9]+)/cadastro.html$ /_noticia-form.php?c=$1 [NC,L]
    RewriteRule ^professor/noticias/([a-zA-Z0-9]+)/album.html$ /_noticiaAlbum-form.php?c=$1 [NC,L]
    RewriteRule ^professor/noticias/([a-zA-Z0-9]+)/visualizar.html$ /_noticiaVisualizar.php?c=$1 [NC,L]
    RewriteRule ^professor/noticias/desativadas.html$ /_noticiasDesativadas.php [NC,L]
    RewriteRule ^professor/noticias/pendentes.html$ /_noticiasPendentes.php [NC,L]
    RewriteRule ^professor/parceiros/?$ /_parceiros.php [NC,L]
    RewriteRule ^professor/parceiros/([a-z0-9-%]+)/cadastro.html$ /_parceiro-form.php?c=$1 [NC,L]
    RewriteRule ^professor/perfil/cadastro.html$ /_perfil-form.php [NC,L]
    RewriteRule ^professor/perfil/senha.html$ /_senha-form.php [NC,L]
    RewriteRule ^professor/permissoes/administrativo/?$ /_permissoesAdministrativo.php [NC,L]
    RewriteRule ^professor/permissoes/administrativo/([a-z0-9]+)/cadastro.html$ /_permissaoAdministrativo-form.php?c=$1 [NC,L]
    RewriteRule ^professor/permissoes/academico/cadastro.html$ /_permissaoAcademico-form.php?c=$1 [NC,L]
    RewriteRule ^professor/revista/?$ /_revista.php [NC,L]
    RewriteRule ^professor/revista/cadastro.html$ /_revista-form.php [NC,L]
    RewriteRule ^professor/revista/edicoes/?$ /_revistaEdicoes.php [NC,L]
    RewriteRule ^professor/revista/edicoes/([a-z0-9-]+)/cadastro.html$ /_revistaEdicao-form.php?c=$1 [NC,L]
    RewriteRule ^professor/revista/edicoes/([a-z0-9-]+)/?$ /_revistaArtigos.php?c=$1 [NC,L]
    RewriteRule ^professor/revista/edicoes/([a-z0-9-]+)/([a-z0-9-]+)/cadastro.html$ /_revistaArtigo-form.php?c=$1&d=$2 [NC,L]
    RewriteRule ^professor/revista/edicoes/([a-z0-9-]+)/([a-z0-9-]+)/paginas.html$ /_revistaArtigoPaginas-form.php?c=$1&d=$2 [NC,L]
</IfModule>